.sidebar {
	position: absolute;
	left: 20px;
	width: 180px;
	margin-top: 20px;
	background-color: #87805e;
	border-radius: 20px;
}

.logo-content {
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.sidebar-menu {
	display: flex;
	justify-content: center;
}

.sidebar-menu .pilih-menu {
	flex-direction: column;
}

.select-active-dashboard {
	margin: 80px 0;
	background-color: #eddfb3;
	border: 4px solid red;
	border-radius: 20px;
	padding: 10px;
     display: flex;
	justify-content: center;
}

.select-active-dashboard:hover {
     cursor: pointer;
}
.select-active:hover {
     cursor: pointer;
}

.select-active {
	display: flex;
     margin-bottom: 35px;
	background-color: #eddfb3;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px;
     margin: 80px 0;
	justify-content: center;
}

span {
     font-size: 15px;
}